[submodule "Parser-v2"]
	path = Parser-v2
	url = https://github.com/RevitaAI/Parser-v2.git
[submodule "universal-lemmatizer"]
	path = universal-lemmatizer
	url = https://github.com/RevitaAI/universal-lemmatizer.git
[submodule "tokenizer"]
	path = tokenizer
	url = https://github.com/RevitaAI/tokenizer.git
